@model ProyectoVueling.Models.Modulo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Modulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modulo1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modulo1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComentarioHtml)
        </dt>
        <dd>
            @Html.Raw(Model.ComentarioHtml)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DuracionEnMinutos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuracionEnMinutos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HayEjercicios)
        </dt>
        <dd>
            @Html.CheckBox("Hay Ejercicios", (bool)Model.HayEjercicios.GetValueOrDefault())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CursoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CursoNavigation.Curso1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdProfesorNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProfesorNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
