@model IEnumerable<ProyectoVueling.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Crear nueva categoría</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categoria1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComentarioHtml)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenMiniatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenGrande)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria1)
            </td>
            <td>
                @Html.Raw(item.ComentarioHtml)
            </td>
            <td>
                @{
                    if (item.ImagenMiniatura != null)
                    {
                        var bytes = Convert.ToBase64String(item.ImagenMiniatura);
                        var myString = "data:image/png;base64," + bytes;

                        <img src="@myString" width="50" height="50" />
                    }
                }
            </td>
            <td>
                @{
                    if (item.ImagenMiniatura != null)
                    {
                        var bytes = Convert.ToBase64String(item.ImagenMiniatura);
                        var myString = "data:image/png;base64," + bytes;

                        <img src="@myString" width="100" height="100" />
                    }
                }
            </td>
            <td>
                <canvas id="myCanvas" width="30" height="30" style="border:1px solid #000000; background-color:@item.Color;"></canvas>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
