@model IEnumerable<ProyectoVueling.Models.Lección>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lección1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComentarioHtml)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HayEjercicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuloNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lección1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComentarioHtml)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HayEjercicios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuloNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
